body{
    background-color:hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

hr{
    border: 0.5px solid  hsl(215, 32%, 27%);
    border-bottom: none;
    width: 16rem;
}

.container{
    background-color: hsl(217, 54%, 11%);
    height: 800px;
    width:800px;
    
    position: absolute;
    right:370px;
}

.box{
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    height: 500px;
    width: 300px;
    position: relative;
    left:250px;
    top:150px;
}

.equilibrium-img{
    border-radius: 10px;
    height: 250px;
    width: 260px;
    margin: 21.02px;
}

/*********************************************/

.main-text{
    margin-top: 0;
    margin-left: 21.02px;
    margin-right: 21.02px;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
}

.follow-text{
    text-align: left;
    margin: 10px 21.02px 20px 21.02px;
    font-weight: 400;
    font-size: 15px;
    color:hsl(215, 51%, 70%) ;
}

/*******************************************/
.bottom{
    height: 80px;
    width: 300px;
    margin-bottom: 20px;
}

.info-text{
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}

.color-1{
    color: hsl(178, 100%, 50%);
}

.color-2{
    color: hsl(215, 51%, 70%);
}

.ib{
    display: inline-block;
}

.text{
    margin-top: 0;
    margin: 1px;
}

.icon{
    margin-left: 80px;
}

.creator-details{
    margin: 8px 21.02px 21.02px 21.02px;
    height: 40px;
}

.icon-3{
    height: 5px;
    width: 5px;
}
.creator{
    display: inline-block;
    margin-top: 2px;
    margin-left: 35px;
    font-size: 16px;
}

.part-1{
    color: hsl(215, 51%, 70%);
}
.part-2{
    color:hsl(0, 0%, 100%) ;
}
